# Arquivos de ambiente e senhas (CRUCIAL)
.env
.streamlit/secrets.toml
secrets.toml
*.pem
*.key

# Lixo do Python (não precisa subir)
__pycache__/
*.pyc
*.pyo

# Ambientes Virtuais (pesado demais pra subir)
venv/
env/
.venv/
.vscode/

# Meus arquivos e pastas pessoais (NÃO SUBIR)
Docs/
(UPGRADE TI) System Design.txt
(UPGRADE TI) Projeto_Plano.txt
(UPGRADE TI) Como convencer leandro.txt
(UPGRADE TI) Funcionamento.txt